.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
intermediates/
logs/
data/250225_aligned/
presentations/
data/CelEst_v1pt1.txt
ipynb/*.csv
ipynb/.ipynb_checkpoints/*
ipynb/AM_PHso/
ipynb/ILso/
ipynb/BWM/
outs/*
dsq-*
job_*_status.tsv
data/gene_families/*ILso*xlsx
slurm-*.out
